# Time Series Analysis Gold - Visualization and Forecasting
This notebook will be used to determine if there is a relationship between gold, the Dow Jones Industrial (DJI) Average, and the Consumer Price Index (CPI).  The data was previously extracted from various websites and saved to csv files.

Env: TimeSeries (Python3.9.15)<br>
Created By: TW<br>
Created On: 2023-02-27

## Libraries

In [1]:
# Data handling
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Stats/Modeling

## Open csv files

In [20]:
df_gold = pd.read_csv('C:/Users/twingers/OneDrive/Documents/python_projects/Time_Series_Analysis_Gold/data/gold_prices.csv')
df_gold.rename(columns={'Date': 'Month'}, inplace=True)
df_gold.set_index('Month', inplace=True)
df_gold.head()

                  Open        High         Low       Close   Adj Close  Volume
Month
2000-09-01  277.000000  277.000000  277.000000  277.000000  277.000000       0
2000-09-05  275.799988  275.799988  275.799988  275.799988  275.799988       2
2000-09-06  274.200012  274.200012  274.200012  274.200012  274.200012       0
2000-09-07  274.000000  274.000000  274.000000  274.000000  274.000000     125
2000-09-08  273.299988  273.299988  273.299988  273.299988  273.299988       0

In [21]:
df_cpi = pd.read_csv('C:/Users/twingers/OneDrive/Documents/python_projects/Time_Series_Analysis_Gold/data/cpi.csv', index_col="Month")
df_cpi.head()

            CPI
Month
1913-01-01  9.8
1913-02-01  9.8
1913-03-01  9.8
1913-04-01  9.8
1913-05-01  9.7

In [22]:
df_dji = pd.read_csv('C:/Users/twingers/OneDrive/Documents/python_projects/Time_Series_Analysis_Gold/data/dji.csv')
df_dji.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-09-01,11238.799805,11238.799805,11238.799805,11238.799805,11238.799805,0
1,2000-09-05,11260.599609,11260.599609,11260.599609,11260.599609,11260.599609,0
2,2000-09-06,11310.599609,11310.599609,11310.599609,11310.599609,11310.599609,0
3,2000-09-07,11259.900391,11259.900391,11259.900391,11259.900391,11259.900391,0
4,2000-09-08,11220.700195,11220.700195,11220.700195,11220.700195,11220.700195,0

In [23]:
df_gold.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5638 entries, 2000-09-01 to 2023-02-21
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       5638 non-null   float64
 1   High       5638 non-null   float64
 2   Low        5638 non-null   float64
 3   Close      5638 non-null   float64
 4   Adj Close  5638 non-null   float64
 5   Volume     5638 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 308.3+ KB

In [24]:
df_cpi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1321 entries, 1913-01-01 to 2023-01-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CPI     1321 non-null   float64
dtypes: float64(1)
memory usage: 20.6+ KB

In [25]:
df_dji.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5236 entries, 0 to 5235
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5236 non-null   object
 1   Open       5236 non-null   float64
 2   High       5236 non-null   float64
 3   Low        5236 non-null   float64
 4   Close      5236 non-null   float64
 5   Adj Close  5236 non-null   float64
 6   Volume     5236 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 286.5+ KB

None of the data frames are on the same time-scale.  A uniform time-scale is needed for comparison and analysis.  Gold and the DJI is on a daily basis when the market is open.  CPI is given on a monthly basis